body{
  background-color: #f5fcfe;
  font-family: Charcoal, sans-serif;
  margin: 0;
  padding: 0;
}

/*nav bar*/
nav{
	background-color: #ffa907f0;
	padding: 10px 10px;
}

nav div{
	display: inline-block;

}

nav ul{
	padding-left: 0;
	padding-right: 15px;
}

div.navbar{
	width: 70%;
	text-align: right;
}

div.carrot-logo{
	width: 30%;
	text-align: left;
}

div.navbar ul{
	padding-left: 0;

}

div.navbar li{
	display: inline-block;
	margin: 0 5px;
	font-size: 26px;
	padding-left: 20px;
	

}

div.navbar a{
	color: white;
	text-decoration: none;

}

div.carrot-logo img{
	width: 50%; 
	margin-left: 65px;
	position: relative;
	top: 30px


}

/*search bar*/
div.search{
	text-align: right;
	
}

input{
	padding: 15px;
	font-size: 26px;
	background-color: #f0f0f0;
	border: none;
	margin-right: 35px;
	margin-top: 10px;
	width: 300px;
	height: 35px;
	box-shadow: 10px 10px 5px grey;
}

i.fa.fa-search{
	position: relative;
	right: -300px;
	color: #c5c5c7;
}
	/*changes the color of the text inside the search placeholder*/
div.search input::placeholder {
	color: #c5c5c7;
}

/*middle section*/
div.carrot, div.text{
	display: inline-block;
	/*width: 48%;*/
}

div.carrot{
	width: 30%;
}

div.text{
	width: 65%;
	margin-left: 50px;
	text-align: center;
}
.carrot img{
	width: 100%;
	padding-left: 100px;
}
.text p{
	font-size: 45px;
	color: #ff9800;
	font-weight: 200;
	margin-bottom: 45px;
	margin-left: 120px;
	padding-left: 120px;
	text-align: left;
}

.word-carrot{
	font-weight: bold;
}
/*trademark label*/
div.text i{
	font-size: 20px;
	
}

.word-web{
	color: #7DC285;
}

.word-app{
	color: #7DC285;
}
/*button layout*/
div.buttons{
	padding-left: 100px;
}

button{

	font-size: 20px;
	border: none;
	padding: 20px 30px;
	width: 250px;
	margin:0 3%;

}

#button1{
	background-color: #65c47d;
	color: white;
}

#button2{
	background-color: #ffa907f0;
	color: white;
}

/*footer section*/
footer{
	text-align: center;
	background-color: #7DC285;
}

ul.footer{
	background-color: #65c47d;
	width: 100%;
	height: 55px;
	padding: 50px;
	margin-top: 130px;

}

.footer li{
	display: inline;
	color: white;	
	font-size: 26px;
	padding: 20px;
}




